@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

html{
    scroll-behavior: smooth;
}

.nav-logo img {
    width: 3rem;
}

body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

footer {
    background-color: #0DCAF0;
}

.navbar-nav {
    opacity: 75%;
}

.parrafos {
    padding-left: 20rem;
    padding-right: 20rem;
}

.card {
    background-color: #0DCAF0;
}

.card img {
    width: 286px;
    height: 190px;
}

.formulario {
    padding-right: 12rem;
    padding-left: 12rem;
}

.logos {
    background-color: #0DCAF0;
}